.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

body {
    flex-direction: column;
    background-color: lightgray;
}

header {
    width: 375px;
    height: 80px;

    background-color: #fff;

    padding: 15px;

    position: fixed;
    top: 0;
    left: 100% - calc(375px/2);
}

header img{
    width: 75px;
}

main {
    flex-direction: column;

    width: 375px;
    height: 100vh;
    background-color: #f3f3f3;

    padding-top: 80px;
    padding-bottom: 84px;
}

.wrapper {
    flex-direction: column;
    align-items: center;

    width: 375px;
    height: 100vh;

    background-color: #fff;
    
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.wrapper img {
    width: 130px;
    margin-top: 72px;
    margin-left: 100% - calc(130px/2);
}

.wrapper input {
    width: 261px;
    height: 54px;
    
    border: 1px solid #D7D7D7;
    border-radius: 4px;

    margin-top: 94px;

    text-align: center;
}

.wrapper input::placeholder {
    color: #aeaeae;
    text-align: center;
}

.wrapper span {
    width: 261px;
    height: 18px;

    background-color: lightpink;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    text-align: center;
}

/* .wrapper span.hidden {
    transform: translateY(30px);
    transition-duration: 2s;
} */

button {
    
    width: 109px;
    height: 45px;
    
    background: #E7E7E7;
    border: none;
    border-radius: 9px;

    margin-top: 15px;
}

footer {
    width: 375px;
    height: 80px;

    background-color: #fff;

    padding: 15px;

    position: fixed;
    bottom: 0;
    left: 100% - calc(375px/2);
}

footer input{
    text-align: center;
    border: none;
}

footer input::placeholder {
    text-align: center;
}

.messages-box {
    overflow-y: auto;

}

.messages-box::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.messages-box::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.messages-box::-webkit-scrollbar-thumb {
    background: #ced6d4;
    border-radius: 10px;
}

/* Handle on hover */
.messages-box::-webkit-scrollbar-thumb:hover {
    background: #afb6b8;
}

.msg {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: left;

    word-break: break-word;

    padding: 8px;
    margin-top: 4px;

    border-radius: 2px;
}

.msg strong {
    margin-left: 4px;
}

.msg .time {
    color: #aaa;
}

.status {
    background-color: #DCDCDC;
}

.normal {
    background-color: #FFFFFF;
}

.private {
    background-color: #FFDEDE;
}